.userDetails{
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    
    &__form{
        display: inline-flex;
        flex-direction: column;
        margin-top: 20px;

    }
    
    &__editSubHeading{
        font-size: 18px;
        padding-bottom: 10px;
        }

    &__field{
        display: flex;
        flex-direction: column;
        margin-top: 18px;

    }
    &__input{
            width: 40em;
            outline: none;
            border: 1px solid black;
            padding: 8px;
            margin-top: 8px;
        }

}