.photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    height: 250px;
    width: 420px;

    &__descContainer{
        margin-top: 26px;
        border: 1px solid black;
        width: 26.25rem;
        height: 4rem;
    }

    &__img{
        display: flex;
        max-width: 20rem;
        max-height: 14rem;
        margin: 0 auto;
    }
}